# Ignore generated build outputs and temporary files
/build/
*/CMakeCache.txt
*/CMakeFiles/
*.cmake.win
*.cmake.user
*.ninja_deps
*.ninja_log
*.log
*.obj
*.o
*.elf
*.bin
*.hex
*.map
*.lst
*.s
!Core/startup_py32f071xx.s
*.d
*.gcno
*.gcda
*.gcov
*.log
*.tmp
*.cache
*.swp
*.DS_Store
.vscode/
*.pyc
__pycache__/
